<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.breathesafe">


    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/><!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/><!-- 这个权限用于进行gps定位 -->

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".home_drawer"
            android:label="@string/title_activity_home_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Forecast"
            android:label="@string/title_for"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Howfeeling"
            android:label="My feelings"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".RemindActivity"
            android:label="Medication"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Firsttime"
            android:label=""
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AddAlarmActivity"
            android:label="My Medications"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AddActActivity"
            android:label="ActionPlan"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ActActivity"
            android:label="ActionPlan"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Tips"
            android:label="@string/title_tips"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Temperature"
            android:label="Temperature"
            android:parentActivityName=".Tips"/>
        <activity android:name=".aqi"
            android:label="Air Quality"
            android:parentActivityName=".Tips"/>
        <activity android:name=".pre"
            android:label="Pressure"
            android:parentActivityName=".Tips"/>
        <activity android:name=".Hum"
            android:label="Humidity"
            android:parentActivityName=".Tips"/>
        <activity android:name=".Forecast1"
            android:label="Forecast"
            android:parentActivityName=".Tips"/>
        <activity
            android:name=".Welcome"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>

        <receiver android:name=".Alarm" />
        <receiver android:name=".Utils.AlarmReceiver">
            <intent-filter>
                <action android:name="com.example.breathesafe.TIMER_ACTION_REPEATING" />
                <action android:name="com.example.breathesafe.TIMER_ACTION" />
            </intent-filter>
        </receiver>

    </application>


</manifest>